<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItemsManagerConnectionString" connectionString="n46ghXHy771N/n5vZW2Crl8anOH8tpJ416BoWbhc08vDzOG/BHqqDzmSeRoFo5rsU2AkGWhvwDUzXy0d+7dDy8ZCejRy8mjePAkvPaYucPTGp4NQY0xwS7zdpNceRxMa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="kYlV5bGOzAY=" />
    <add key="DatabaseName" value="ML4n+MD5GbQchw+4FxeGQw==" />
    <add key="Username" value="x5ctMbdCPgo=" />
    <add key="Password" value="x5ctMbdCPgo=" />
    <add key="IntegratedSecurity" value="en2f31oYTME=" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
