<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItemsManagerConnectionString" connectionString="n46ghXHy771N/n5vZW2Crl8anOH8tpJ416BoWbhc08vDzOG/BHqqDzmSeRoFo5rsU2AkGWhvwDUzXy0d+7dDy8ZCejRy8mjePAkvPaYucPTGp4NQY0xwS7zdpNceRxMa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="0"/>
    <add key="DatabaseName" value="0"/>
    <add key="Username" value="0"/>
    <add key="Password" value="0"/>
    <add key="IntegratedSecurity" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
